,*
mon-cli/mon-cli
todo.1
cli/,*
cli/cli
lib/,*
lib/todo.1
note.1

mon-cli/mon-cli
mon-cli/mon-cli.linux
mon-cli/plan.1
mon-cli/x.tar.gz
mon-cli/,*
mon-cli/note.2
mon-cli/note.3
note/


# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
mon-alive
mon-cli/cfg0.json-*.prev
list-client.redis
mon-cli/idea.1
mon-cli/note.0
mon-cli/note.4
monitor.redis
go.sum
	defect.1
